extends layout

block content
    script(src="/scripts/panels.js")
    div(class="container p-2 bg-info text-light col-12 ")
        div(class="row col-12")
            div(class="col col-6 d-flex align-items-center justify-content-start")
                div(class="h4 m-0 p-0")= title
            div(class="col col-6 d-flex justify-content-end align-items-center")
                div(class="nav-item")
                    a(class="text-light nav-link" href="/main") Главная
                div(class="nav-item")
                    a(class="text-light nav-link" href="/users") Участники
                div(class="nav-item")
                    a(class="text-light nav-link" href="/settings") Настройки


    div(class="container p-3 col-12")
        div(class="container p-3 col-12 ")
            div(class="col col-12")
                button(class="btn btn-info" onclick="add_panel()")
                    span Добавить картину
            div(id="add_panel" class="container col-12 p-3")
                div(class="container col-12 p-3")
                    div
                        div(class="h5") Добавить картину
                        table(class="table-sm table-borderless col-12")
                            thead
                                th(scope="col") Ссылка на изображение
                                th(scope="col") Название
                                th(scope="col") Автор
                                th(scope="col") Цена
                                th(scope="col") Торг
                                th(scope="col")
                            tr
                                form(action="card/add" method="POST")
                                    td
                                        input(class="form-control " required name ="src")
                                    td
                                        input(class="form-control " required name ="name")
                                    td
                                        input(class="form-control " required name ="author")
                                    td
                                        input(class="form-control " type="number" required name ="price")
                                    td(class="d-flex flex-row align-items-center justify-content-between" width="300")
                                        div(class="d-flex flex-row align-items-center")
                                            span Min:
                                            input(class="form-control  ml-3 mr-3" type="number" required name ="min")
                                        div(class="d-flex flex-row align-items-center")
                                            span Max:
                                            input(class="form-control  ml-3 mr-3" type="number" required name ="max")
                                    td
                                        button(class="btn btn-info" type="Submit") Добавить
            div(class="row" id="card_panel")
                for art in artwork
                    div(class="col col-6 p-3")
                        div(class="container col-12 mila p-3 d-flex flex-row h-100")
                            div(class="container col-6 d-flex bg-white  align-items-center justify-content-center p-0 m-0")
                                img(src=art.src, width="100%" )
                            div(class="pl-3")
                                table(class="table-sm table-borderless col-12")
                                    tr
                                        td Название
                                        td
                                            big #{art.name}
                                    tr
                                        td Автор
                                        td
                                            big #{art.author}
                                    tr
                                        td Цена
                                        td
                                            big #{art.price}
                                    tr
                                        td Торг
                                        td
                                            big #{art.min} / #{art.max}
                                    tr
                                        td
                                            button(class="btn btn-info" onclick="edit_panel(\"" + art.name + "\", \"" + art.author + "\", \"" + art.price + "\", \"" + art.min + "\", \"" + art.max + "\", \"" + art.id + "\")") Изменить
                                        td
                                            form(action="card/delete/" + art.id method="POST")
                                                button(class="btn btn-info") Удалить
    div(id="edit_panel" style = "display:none")
        dialog(class="container p-3 mt-3 dialog")
            p(class="h4 mb-4") Изменение картины
            form(method="POST" id="edit_form")
                table(class="table table-stripped mb-0")
                    thead
                        th(scope="col") Название
                        th(scope="col") Автор
                    tr
                        td
                            input(class="form-control " required name ="ename")
                        td
                            input(class="form-control " required name ="eauthor")
                    tr
                        th(scope="col") Цена
                        th(scope="col") Торг
                    tr
                        td
                            input(class="form-control " type="number" name ="eprice")
                        td(class="d-flex flex-row align-items-center justify-content-between" width="300")
                            div(class="d-flex flex-row align-items-center")
                                span Min:
                                input(class="form-control  ml-3 mr-3" type="number" required name ="emin")
                            div(class="d-flex flex-row align-items-center")
                                span Max:
                                input(class="form-control  ml-3 mr-3" type="number" required name ="emax")
                div(class="d-flex align-items-center")
                    button(class="d-flex align-items-center btn btn-info p-2 mr-3" type="Submit") Сохранить
                    button(class="d-flex align-items-center btn btn-info p-2"
                        onclick="edit_panel_close()" type="button") Отмена